@page "/user-profile"
@using InternetPoint.Models
@inject UserStateService UserStateService
@inject UserService UserService
@inject NavigationManager Navigation
<PageTitle>Профиль пользователя</PageTitle>
<div class="dashboard-layout">
    <nav class="dashboard-nav">
        <div>
            <a><NavLink href="/user-profile">Личный кабинет</NavLink></a>
            <a><NavLink href="/account-settings">Настройки</NavLink></a>
            <a><NavLink href="/manage">Управление тарифами</NavLink></a>
            <a><button @onclick="SignOut">Выйти</button></a>
            <span></span>
        </div>
    </nav>
</div>

@if (user == null)
{
    <p><em>Загрузка...</em></p>
}
else if (!UserStateService.IsAuthenticated)
{
    <p><em>Вы не аутентифицированы. Пожалуйста, войдите в систему.</em></p>
}
else
{
    <div class="profile-container">
        <p><strong>ID:</strong> @user.Id</p>
        <p><strong>Имя пользователя:</strong> @user.Name</p>
        <p><strong>Email:</strong> @user.Email</p>
        <p><strong>Имя:</strong> @user.firstname</p>
        <p><strong>Фамилия:</strong> @user.lastname</p>
        <p><strong>Телефон:</strong> @user.phone</p>
        <p><strong>Адрес:</strong> @user.address</p>
    </div>
}

@code {
    private User user;

    protected override async Task OnInitializedAsync()
    {
        // Получаем Id текущего пользователя из UserStateService
        int userId = UserStateService.GetUserId();

        // Если Id равен 0, значит пользователь не аутентифицирован
        if (userId == 0)
        {
            // Обработка неаутентифицированного пользователя (например, вывод сообщения)
        }
        else
        {
            // Получаем данные пользователя из базы данных
            user = await UserService.GetUserByIdAsync(userId);
        }
    }
    private async Task SignOut()
    {
        await UserStateService.SignOutAsync();
        Navigation.NavigateTo("/");
    }
}


<style>
    body {
        position: relative;
        margin: 0;
        padding: 0;
        height: 100%;
        background: url('/images/фон2.jpg') no-repeat center center fixed; /* Добавляем фоновое изображение */
        background-size: cover;
    }

    .dashboard-nav {
        display: flex;
        background-color: #f9f9f9;
        padding: 20px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        font-size: 20px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 255px;
        justify-content: center;
        z-index: 9999;
    }

        .dashboard-nav div {
            position: relative;
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 1000px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .dashboard-nav a {
            position: relative;
            display: inline-block;
            font-weight: 500;
            padding: 0 30px;
            color: #007bff;
            z-index: 1;
            transition: .5s;
        }

        .dashboard-nav span {
            position: absolute;
            display: flex;
            padding: 0 30px;
            top: 0px;
            left: 30px;
            width: 250px;
            height: 100%;
            background: rgb(73, 33, 97);
            border-radius: 8px;
            transition: .5s;
        }

        .dashboard-nav a:nth-child(1):hover ~ span {
            left: 30px;
        }

        .dashboard-nav a:nth-child(2):hover ~ span {
            left: 280px;
        }

        .dashboard-nav a:nth-child(3):hover ~ span {
            left: 542px;
            width: 280px;
        }

        .dashboard-nav a:nth-child(4):hover ~ span {
            left: 865px;
            width: 100px;
        }

        .dashboard-nav button {
            background: none;
            border: none;
            color: #007bff;
            cursor: pointer;
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
            transition: .5s;
        }

            .dashboard-nav button:hover {
                text-decoration: underline;
                color: #fff;
            }

        .dashboard-nav a:hover {
            color: #fff;
        }

    .profile-container {
        max-width: 800px;
        width: 500px;
        height: 380px;
        margin: 60px auto;
        padding: 30px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: left;
    }

        .profile-container h4 {
            display: inline-block;
            margin: 0 10px;
            font-size: 40px;
            color: #333;
        }

.profile-container p {
            font-size: 28px;
            line-height: 1.8;
            margin: 10px 0;
            color: #555;
        }

        .profile-container strong {
            color: #222;
        }
</style>


